/java-simple-grpc-unary/target/
/java-simple-grpc-unary/.settings/
/java-simple-grpc-unary/.classpath
/java-simple-grpc-unary/.project

/java-simple-grpc-server-streaming/target/
/java-simple-grpc-server-streaming/.settings/
/java-simple-grpc-server-streaming/.classpath
/java-simple-grpc-server-streaming/.project

/java-simple-grpc-client-streaming/target/
/java-simple-grpc-client-streaming/.settings/
/java-simple-grpc-client-streaming/.classpath
/java-simple-grpc-client-streaming/.project

/java-simple-grpc-bi-directional-streaming/target/
/java-simple-grpc-bi-directional-streaming/.settings/
/java-simple-grpc-bi-directional-streaming/.classpath
/java-simple-grpc-bi-directional-streaming/.project